@import '../../style/variables.scss';

.header {
    display: flex;
    width: 100%;
    gap: 20px;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  
    &__bar {
      padding: 15px 27px;
      background-color: #FFF;
      border-radius: 30px;
      height: 60px;
      width: 100%;
      box-shadow: 0px 4px 26.3px 0px rgba(0, 0, 0, 0.15);
  
      &-logo {
        height: 30px;
        width: 30px;
        background-color: $main-color;
      }
    }
  }