$main-color: #2DD1AA;
$volunteer-color: #ABB8EE;
$volunteer-color-dark: #7f91d0;

$main-accent-color: #c0fce1;
$main-accent-color-hover: #d7fbec;
$volunteer-accent-color: #d9e0ff;
$volunteer-accent-color-hover: #e9eeff;

$border-color: #ececec;

$block-color: #f5f5f5;