@import '../../style/variables.scss';

.customer-orders-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: fit-content;

    &__wrapper {
        display: flex;
        justify-content: center;

        .ptr__children {
            max-width: fit-content;
        }
    }

    &__pull-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    &__item {
        cursor: pointer;
        max-width: 400px;
        width: 100%;
        padding: 20px 30px;
        background-color: $block-color;
        border-radius: 30px;
        transition: .2s transform;

        &-title {
            font-weight: 700;
        }

        &-status {
            span {
                font-weight: 700;
            }

            &_not-completed {
                color: #b6474d;
            }

            &_in-process {
                color: #415db3;
            }

            &_completed {
                color: #c2a04d;
            }

            &_approved {
                color: #49a776;
            }
        }

        &:hover {
            transform: scale(1.01);
        }
    }
}

@media (max-width: 925px) {
    .customer-orders-list {
        gap: 15px;

        &__item {
            padding: 15px 20px;
        }
    }
}