.customer-order-modal {
    &__info {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__label {
        font-weight: 700;
    }

    &__thumb {
        img {
            cursor: pointer;
            margin-top: 10px;
            width: 75px;
            height: 75px;
            border-radius: 10px;
            overflow: hidden;
            transition: .2s transform;

            &:hover {
                transform: scale(0.98);
            }
        }
    }

    &__btn {
        padding: 10px;

        span {
            font-size: 20px;
            font-weight: 700;
        }
    }
}