@import '../../../style/variables.scss';
@import '../../../style/mixins.scss';

.profile-stat-card {
    @include profile-card;
    max-width: 490px;
    min-width: 310px;
    grid-area: stat;

    &__title {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 18px;
    }

    &__content {
        display: grid;
        grid-template-areas: 'desc diag'
                             'legend diag';
        gap: 20px;
    }

    &__desc {
        grid-area: desc;
    }

    &__diag {
        grid-area: diag;
        max-width: 144px;
    }

    &__legend {
        grid-area: legend;
        display: flex;
        flex-direction: column;
        justify-content: end;

        &-item {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        &-icon {
            width: 16px;
            height: 16px;
            border-radius: 2px;

            &__material {
                background-color: #81E3CC;
            }

            &__physical {
                background-color: #C191FF;
            }

            &__other {
                background-color: #FFE08F;
            }
        }
    }
}

@media (max-width: 925px) {
    .profile-stat-card {
        max-width: none;

        &__diag {
            grid-area: diag;
            max-width: 200px;
            min-width: 100px;
        }
    }
}