@import './style/nullstyle.scss';
@import './style/variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@font-face {
    font-family: 'Gotham Pro';
    src: url('./style/fonts/gothampro.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 10px;

        &:horizontal {
            display: none;
        }
    }

    &::-webkit-scrollbar-track {
        background-color: #f9f9f9;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #e6e6e6;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #cbcbcb;
    }
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Mulish';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

select {
    border-color: rgba($color: #000000, $alpha: .1);
}

#root {
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}