@import '../../style/variables.scss';

.App {
  overflow: hidden;
  height: 100%
}

#map-wrapper {
  width: 100%;
}

.customer {
  &-bg-accent {
    background-color: $main-accent-color;
  }

  &-hover {
    &:hover {
      color: $main-color;
    }
  }
}

.volunteer {
  &-bg-accent {
    background-color: $volunteer-accent-color;
  }

  &-hover {
    &:hover {
      color: $volunteer-color;
    }
  }
}