.profile-modal {
    &__header {
        &-container {
            display: flex;
            gap: 20px;
        }
    }

    &__pic {
        margin-top: 10px;
        min-width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;

        img {
        width: 50px;
        height: 50px;
        }
    }
}

@media (max-width: 560px) {
    .profile-modal {
        &__pic {
            min-width: 40px;
            height: 40px;
        
            img {
            width: 40px;
            height: 40px;
            }
        }
    }
}